body {
    font-family: Arial, sans-serif;
    background-image:url("https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
}
header{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius:8px;
    background-color:#D1DAF5;
    box-shadow:4px 8px 5px grey;
    padding-right:80px;
    margin-bottom:50px;
    width:1200px;
    margin-left:60px;
}
.logo{
    font-family:Irish Grover;
    font-size:30px;
    font-weight:bold;
}
.afterlogo{
    display: flex;
    justify-content: space-between;
    gap: 100px; 
}
.gradient-text {
    background-image: linear-gradient(to right,#EB4343, #852626);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: bold; 
    text-shadow:2px 4px 4px darkgrey;
}
.subheading{
    font-size:15px;
    font-weight: bold; 
}
h1{
    font-family:Kalam;
    font-style:Italic;
}
.search-bar {
    display: flex; 
    align-items: center; 
    border: 2px solid #ccc; 
    border-radius: 25px; 
    padding: 5px 10px; 
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}
#search-btn{
    border:none;
    padding:4px;
    background-color:#87CEEB;
    color:white;
    border-radius:10px;

}
#search-btn:hover{
    cursor:pointer;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 16px; 
    padding: 10px; 
    border-radius: 20px; 
    background-color: transparent; 
}

.search-bar input::placeholder {
    placeholder:"Search...";
    color: #aaa; 
    opacity: 0.7;
}

.search-bar:hover {
    border-color: #888; 
}
.userdetail{
    width:50px;
    height:50px;
    border-radius:50%;
    border:4px solid lightgrey;
}
.about a, .home a{
    color: inherit; 
    text-decoration: none; 
    font-weight:bold;
}

.about a:hover,.home a:hover{
    color:grey;
}

.hero {
    text-align: center;
    margin-top: 20px;
}
.user-dropdown {
    display: none;
    position: absolute; 
    right: 10px; 
    top: 60px; 
    background-color: white;
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    width: 300px;
}
.user-details {
    text-align: left; 
}

.dropdown-profile-pic {
    width: 80px;
    height: 80px; 
    border-radius: 50%; 
}

.username {
    margin: 10px 0 5px; 
    font-size: 18px; 
}

.user-email, .user-phone, .user-bio {
    margin: 5px 0;
    font-size: 14px; 
}

.social-links {
    margin-left:0;
    margin-right:40px;
}

.social-links a {
    margin-right: 10px; 
    color: #000; 
    font-size: 20px; 
}

.search-fields {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0;
    border-radius:30px;
    box-shadow:4px 4px 10px grey;
    padding:10px;
    width:600px;
    margin-left:400px;
    
}

.search-field select{
    background:transparent;
    padding: 10px;
    margin-right: 10px;
    border:2px solid #ccc;
    border-radius:30px;
}
.search-field-2{

    padding:4px;
    margin-right: 10px;
    border:2px solid #ccc;
    border-radius:30px;
}
.search-field-2 input{
background-color:transparent;
    margin-right: 10px;
    border:none;
    border-radius:30px;
}
.search-field-2 input:focus{
    outline: none;
  }
.search-btn {
    padding: 5px;
    cursor: pointer;
    border-radius:50px;
    border:none;
}

.influencer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-left:100px;
    border-radius:30px;
}

.influencer {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    border-radius:20px;
    background-color:white;
    transition:transform 0.3s ease;

}
.influencer:hover {
    transform: translateY(-20px);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    
}
img{
    border-radius:20px;
}


.influencer img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.influencer h3, .influencer p {
    margin: 10px 0; 
}
a{
    color:black;
    text-decoration: none;
}
h2{
    text-align:left;
    margin-left:150px;
    margin-top:80px;
    font-size:30px;
    font-weight:bold;
}
.h2{
    text-align:left;
    margin-left:150px;
    margin-top:0px;
    color:grey;
    font-weight:bold;   
}

//categories

.container {
    text-align: center;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.category {
    position: relative;
    overflow: hidden;
       border-radius: 10px;
}

.category img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transform:scale(1.25);
    transition: transform 0.3s ease-in-out;
}

.category img:hover {
    transform: scale(1);
    border-radius: 10px;
}
.category:hover .overlay {
    font-size: 5em; 
    bottom: 50%;
    left: 50%; 
    transform: translate(-50%, 50%);
}
.overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);

    transition: font-size 0.5s ease;
}




//how bb works

.container {
    text-align: center;
    padding: 50px 20px;
}
.steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left:120px;
}

.step {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.step:hover {
    transform: translateY(-10px);
}

.step img {

    border-radius:10px;

    width: 100%;
    height: 200px;
    object-fit: cover;
}

.step-text {
    padding: 20px;
}

.step-text h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.step-text h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.step-text p {
    font-size: 1rem;
    color: #777;
}
//highlights
.highlights{
    display:flex;
    justify-content:space-evenly;
}
.containeer {
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    gap:80px;
    padding: 50px 20px;
    text-align: center;
    margin-top:120px;
    margin-left:160px;
}

.feature-box {
    background-color:#ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width:400px;
}

.feature-box:hover {
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 3rem;
    color: #e91e63;
    margin-bottom: 10px;
}
//arrow in how bb works
.arrow {
    width: 50px;
    height: 50px;

  }
  .arrowimg{
    width: 30px;
    height: 30px;
    
    position: absolute;
    top: 100%; 
    transform: translateY(-50%);
    animation: arrow-bounce 1s infinite;
  }
  #arrow1 {
    left: 30%; 
  }
  
  #arrow2 {
    left: 70%;
  }
  
  @keyframes arrow-bounce {
    0%, 100% {
      transform: translateY(-50%) translateX(-20px);
    }
    50% {
      transform: translateY(-50%) translateX(5px);
    }
  }
  
//FAQ
.faq {
    width: 60%;
    margin-left:170px; 
}.faq-answer {
    width: 60%;
    display: none;
    margin-left:170px;
    padding: 5px 0;
    text-align:left;
}

.faq-question {
    margin-right:430px;
    display:flex;
    justify-content:space-between;
    cursor: pointer;
    margin-left:170px;
    padding: 5px 0;
    text-align:left;
}
hr{
    width:60%;
    margin-left:160px;
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #000000, transparent);  
}
.faq-item {
   
    margin-bottom: 10px;
    
}



/* Search Influencers Sec */
.search-influencers {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
}

.search-content {
    background-image:url('https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/cta.png');
    background-color: #333;
    background-blend-mode: overlay;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
    max-width: 1000px;
    margin-left:180px;
    overflow:hidden;
}

.search-content h4 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.search-content p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.search-content button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}
.lastimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.search-content button:hover {
    background-color: darkgrey;
    color: #fff;
}
/* footer */

footer {
    width: 70%;
    padding: 40px;
    margin-left:160px;
    margin-top:50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.column ul {
    list-style: none;
}

.column ul li {
    margin-bottom: 5px;
}

.column ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.column ul li a:hover {
    text-decoration: underline;
}
.footer-content {
    display: flex;
    justify-content: space-evenly;
    background-color: #e0e0e0;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top:20px;
    padding: 10px;
    border-radius: 8px;
}

.footer-title h4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #762717; 
    text-align: center;
}

.social-links {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.social-item {
    text-align: center;
}

.social-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.social-item p {
    font-size: 1.2rem;
    font-weight: 700;
}
.facebook{
    border-radius:200px;
}
